<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/lib/layui/css/layui.css">
    <style>
        .btn-bar {
            padding-top: 30px;
        }
    </style>
</head>

<body>
    <div class="layui-container">
        <div class="btn-bar">
            <button type="button" class="create layui-btn layui-btn-sm layui-btn">CREATE</button>
        </div>
        <table class="layui-table">
            <colgroup>
                <col width="150">
                <col width="200">
                <col>
                <col width="200">
                <col width="200">
            </colgroup>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>USERNAME</th>
                    <th>EMAIl</th>
                    <th>VM</th>
                    <th>CONTROL</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i = 0; i < data.length; i++) {%>
                <tr>
                    <td> <%= data[i].id %> </td>
                    <td> <%= data[i].username %> </td>
                    <td> <%= data[i].email %> </td>
                    <% if (data[i].vm) { %>
                    <td> <%= data[i].vm.state ? 'start' : 'stop'  %> </td>
                    <% }else{ %>
                    <td> no </td>
                    <% } %>
                    <td>
                        <button type="button" class="update layui-btn layui-btn-sm layui-btn-normal"
                            data-item="<%= JSON.stringify(data[i]) %>">UPDATE</button>
                        <button type="button" class="delete layui-btn layui-btn-sm layui-btn-danger"
                            data-item="<%= JSON.stringify(data[i]) %>">DELETE</button>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>

    <script src="/lib/layui/layui.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        layui.use(['layer', 'form'], function () {
            var layer = layui.layer,
                form = layui.form,
                $ = layui.$;
            var socket = io.connect('ws://192.168.0.5:3000');
            $('.delete').on('click', function () {
                var data = JSON.parse($(this).attr('data-item'));
                data.vm = {};
                socket.emit('vmctrl', data);
            })
            socket.on('servermessage', function (data) {
                console.log(data);
            })
        })
    </script>
</body>

</html>